:root {
    --deep-blue: #7BD6DB;
    --light-blue: #81DCE1;
    --light-green: #8EE7B1;
    --brown: #E2AF90;
    --peach: #FAF3E9;
    --dark-peach: #fff1de;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

#header {
    height: 300px;
    position: relative;
    margin-bottom: 50px;
}

.header-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: inherit;
    object-fit: cover;
    filter: blur(1px) opacity(85%);
    width: 100%;
    z-index: 1;
}
/*TODO: Rajouter les crédits si je garde cette image*/
/*<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@clemhlrdt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Clément H"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Clément H</span></a>*/

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.header-text h2 {
    color: white;
    font-size: 3em;
}

.cloudy{
    position: absolute;
}

.cloudy.right {
    right: -3%;
    top: 35%;
}

.cloudy.left {
    left: -3%;
    top: 35%;
}

.cloudy.left-second {
    left: 5%;
    top: 40%;
}

#first-cloud {
    width: 196px;
    height: 68px;

    background: var(--brown);
    border-radius: 100px;
    position: relative;
    z-index:3;
}

#first-cloud::after, #first-cloud::before{
    content:'';
    position: absolute;
    background: var(--brown);
    z-index:2;
}

#first-cloud::after{
    width:56px;
    height: 56px;
    border-radius: 100px;
    top:-30px;
    left:40px;
}

#first-cloud::before{
    width: 88px;
    height: 88px;
    border-radius: 150px;;
    top:-50px;
    left:85px;
}

#tiny-cloud {
    width: 147px;
    height: 51px;

    background: var(--dark-peach);
    border-radius: 100px;
    position: relative;
    z-index:3;
}

#tiny-cloud::after, #tiny-cloud::before{
    content:'';
    position: absolute;
    background: var(--dark-peach);
    z-index:2;
}

#tiny-cloud::after{
    width: 66px;
    height: 66px;
    border-radius: 100px;
    top:-40px;
    left:20px;
}

#tiny-cloud::before{
    width: 42px;
    height: 42px;
    border-radius: 150px;;
    top:-30px;
    left:80px;
}

#last-cloud {
    width: 196px;
    height: 68px;

    background: var(--peach);
    border-radius: 100px;
    position: relative;
    z-index:3;
}

#last-cloud::after, #last-cloud::before{
    content:'';
    position: absolute;
    background: var(--peach);
    z-index:2;
}

#last-cloud::after{
    width:56px;
    height: 56px;
    border-radius: 100px;
    top:-30px;
    left:40px;
}

#last-cloud::before{
    width: 88px;
    height: 88px;
    border-radius: 150px;;
    top:-50px;
    left:85px;
}

#container {
    /*padding: 0 10px;*/
}

.passport {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 75px 0;
}

.surround-passport {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--light-blue);
}

.inside-passport {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 95%;
    width: 98%;
    border: 2px dashed var(--peach);
    border-radius: 5px;
    background-color: var(--deep-blue);
}

.passport-img {
    display: flex;
    margin: 0 25px;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: var(--brown);
}